<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <!--Log4Net配置-->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="connstr" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=psssportToken;Integrated Security=True" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!--移除X-AspNet-Version  enableVersionHeader="false"-->
    <httpRuntime enableVersionHeader="false" targetFramework="4.5" />
    <!--<httpModules>
      -->
    <!--只是在以前老版本的IIS中可以使用-->
    <!--
      <add name="UrlRewriteModule" type="Sheep.Models.UrlRewriteModule, Sheep.Models"/>
    </httpModules>-->
  </system.web>
  <system.webServer>
    <!--设置不去校验过时配置-->
    <!--<validation validateIntegratedModeConfiguration="false"/>-->
    <modules>
      <!--添加put delete-->
      <remove name="WebDAVModule" />
      <!--moudles的注册-->
      <add name="UrlRewriteModule" type="UserManager.Models.UrlRewriteModule,UserManager"/>
    </modules>

    <handlers>
      <!--添加put delete-->
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--日志-->
  <log4net>
    <!--<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\testlog.txt" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%date 线程ID:[%thread] 日志级别：%-5level 出错类：%logger property:[%property{NDC}] - 错误描述：%message%newline " />
      </layout>
    </appender>-->
      <appender name="AdoNetAppender_Sqlserver" type="log4net.Appender.AdoNetAppender">
      <connectionType value="System.Data.SqlClient.SqlConnection,System.Data, Version=4.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=.;database=psssportToken;Integrated Security=True; MultipleActiveResultSets=True;" />
      <commandText value="INSERT INTO LogMsg (id,time,message,level,logger,source,userId) VALUES (@id,@time,@message,@level,@logger,@source,@userId)" />
      <!--调试阶段可以设置成0，才能及时的在数据库看到错误日志-->
      <bufferSize value="0" />
      <parameter>
        <parameterName value="@time" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@level" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@source" />
        <dbType value="String" />
        <size value="200" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%file:%line" />
        </layout>
      </parameter>
      <!--自定义属性-->
      <parameter>
        <parameterName value="@id" />
        <dbType value="String" />
        <size value="50" />
        <layout type="UserManager.Models.CustomLayout,UserManager">
          <conversionPattern value="%LogId" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@userId" />
        <dbType value="String" />
        <size value="50" />
        <layout type="UserManager.Models.CustomLayout,UserManager">
          <conversionPattern value="%LogUserid" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="UserManager.Models.CustomLayout,UserManager">
          <conversionPattern value="%LogMessage" />
        </layout>
      </parameter>
      
    </appender>
    <logger name="myLog">
      <level value="ALL" />
      <!--<appender-ref ref="RollingFileAppender" />-->
      <appender-ref ref="AdoNetAppender_Sqlserver" />
    </logger>
  </log4net>
</configuration>
